<div class = "row">
	<div class = "col-md-3">
	</div>
	<%= image_tag("/images/#{@analyze[:video_id]}plot.png") %>
</div>
<div class = "row">
	<div class = "col-md-3">
	</div>
	<%= image_tag("/images/#{@analyze[:video_id]}dualplot.png") %>
</div>
