<div class = "row">
	<div class = "col-md-3">
	</div>
	<%= image_tag("/images/plot.png") %>
</div>
<div class = "row">
	<div class = "col-md-3">
	</div>
	<%= image_tag("/images/dualplot.png") %>
</div>
