<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Smart Learning System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

<header class="bg-warning text-white">
      <div class="container text-center">
        <h1>Explore</h1>
      </div>
</header>

</br>
<div class = "container">
	<div class = "row">
		<% @videos.each do |v| %>
			<div class = col-md-2>
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title"> <%= v.title %> </h5>
				    <p class="card-text">Demo Video</p>
				    <button class = "btn btn-success">
				    	<%= link_to "Watch", video_path(v), :class => "btn-md" %>
				    </button>
				  </div>
				</div>
			</div>
		<% end %>
	</div>
</div>
