<canvas id="canvas"></canvas>

<div id = "front-text">
	<h1><p>Using EEG</br> 
	to improve your online</br>learning Experience </p></h1>
</div>

<h3>
    <div class = "btn btn-danger">
        <%=link_to "Get Started", getStarted_path, :class => "btn" %>
    </div>
</h3>

