<canvas id="canvas"></canvas>

<h1><p>Using Machine Learning</br> 
to improve your online</br>learning experience </p></h1>

<h3>
    <div class = "btn btn-danger">
        <%=link_to "Course catalog", video_index_path, :class => "btn" %>
    </div>
</h3>